<%- include("partials/header.ejs")%>

<!--- This page is for viewing how to perform an exercise  maybe have a simple page where uses can search through
different exercises in the db -->
<br><br>
  <div class="d-flex justify-content-center">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="targetBttn">
        Target
      </button>
      <ul class="dropdown-menu">
        <% for (target of targets) { %>
        <li><a class="dropdown-item" href="#" name="target" id="<%=target.target%>"><%=target.target%></a></li>
          <% } %>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="bodyPartBttn">
        Body Part
      </button>
      <ul class="dropdown-menu">
        <% for (part of parts) { %>
        <li><a class="dropdown-item" href="#" name="bodyPart" id="<%=part.bodyPart%>"><%=part.bodyPart%></a></li>
          <% } %>
      </ul>
    </div> 
    <div class="input-group mb-3 w-25" id="searchExercise">
      <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-addon2" id="keyword">
      <button class="btn" type="button" id="button-addon2" name="searchBttn" style="background-color: #AF01FE; color: white; border: none;">Search</button>
    </div>
  </div>
            
  <br><br>
  <div id="searchMsg"></div>

  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center" id="cards"></div>

  <div id="workoutModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border:none; background-color: #01FEAF;">
          <h5 class="modal-title">Work Information</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="workoutInfo"></div>
        </div>
        <div class="modal-footer" style="border:none;">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #AF01FE; border:none; color:white;">Close</button>
        </div>
      </div>
    </div>
  </div>  


<!-- EASIER: maybe allow users to favorite some exercises and then have a page where they can see all of their
favorites
 -->
<%- include("partials/footer.ejs")%>
  