<%- include("partials/header.ejs") %>

<div class="landingBody">

    <div class="page-container text-dark">

        <div id="signUpHeader">
            <br>
            <p class="h2 text-black" id="landingWelcome">
                Welcome,
                <%= userId[0].firstName %>
            </p>
            <br>
        </div>
        <h2>Previous Workout Stats:</h2>
        <p>Last login: <%= userId[0].lastLogin %></p>
        <p>Last workout: <%= workouts[0].startTime %></p>
        <p>Last duration: </p>

        <%for(var sess of workouts){%>
        <%if(sess.status === 0){%>
            <p>Session <%= sess.sessionId %>: <%= sess.startTime %> </p>
            <form method ="post" action="/workout/resume">
                <input type="hidden" name="sessionId" value="<%= sess.sessionId %>">
                <input type="hidden" name="userId" value="<%= userId[0].userId %>">
                <button class="btn btn-dark">Resume</button>
            </form>
        <%}%>
        <%}%>
        <a href="/workout" class="btn btn-primary">Start New Workout</a> <br><br><br>

        <a href="/profile/edit?userId=<%= userId[0].userId %>" class="btn btn-primary">Update Profile</a> <br>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Delete Profile
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you would like to delete your
                            profile? </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a href="/profile/delete?userId=<%= userId[0].userId %>" type="button" class="btn btn-danger">Confirm
                            Delete</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include("partials/footer.ejs") %>
